DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_application_client_id
GUILD_ID=your_pikastudio_server_id
ANNOUNCEMENTS_CHANNEL_ID=your_announcements_channel_id
COMMANDS_ONLY_CHANNEL_ID=your_commands_only_channel_id
TYPING_CHANNEL_ID=your_typing_channel_id
FISH_DROP_CHANNEL_ID=your_fish_drop_channel_id
FISH_DROP_INTERVAL_MS=600000
KTV_CATEGORY_ID=your_ktv_category_id
KTV_RENTAL_PRICE=5
PIKAPENG_EMOJI_ID=your_custom_pikapeng_emoji_id
STAFF_ROLE_IDS=your_staff_role_id_1,your_staff_role_id_2
# Set true only if you intentionally want announcement text mentions to notify users.
ALLOW_ANNOUNCEMENT_MENTIONS=false
